@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  body, html{
    background-color: #FFF5E4;
  }
  
header{
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 10px;
    background-color: aqua;
    padding: 0;
    width: 90%;
    height: 10%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

main{
    margin-top: 70px;
}

.members-img{
  width: 150px;
  height: 100px;
}
